* {

    margin: 0;
    padding: 0;
}



body {
    background-color: #ffffff;
    height: 100vh;

}

.navbar-container {
    display: flex;
    margin: 20px; 
    justify-content: space-between;
    height: 30vh;

}

.list {
    display: flex;
    justify-content: space-around;
    color: black;
    list-style-type: none;

}

.list-item {

    display: flex;
    justify-content: space-around;
    padding: 0px 40px;
    font-size: x-large;
    font-weight: 800;
    cursor: pointer;
}

.list-item:hover {
    text-decoration: underline;
}

.button-group {
    display: flex;
    flex-direction: row;
    margin-top: 9px;
    height: 30vh;
    align-items: flex-start;

    /* justify-content: space-around; */
}

.nav-button {
display: flex;
    border-radius: 8px;
    size: 20px;
    padding: 7px 40px;
    font-size: large;
    margin-top: 0px ;
    align-items: flex-end;   ;

}

.search-icon {
display: flex;
    height: 50px;
    width: 50px;
    padding-right: 1px;
    align-items: center;
}

.hero img {
/* float: left; */
position: absolute;
height: 400px;
width: 400px;
margin-top: 0;
margin-left: 100px;
padding-bottom: 100px;

}


.hero-container {
    position: relative;
    height: 517px;
}

.square {
    position: absolute;
    left: 300px;
    bottom: 40px;
    /* z-index: -1; */
}

.square img {
    width: 500px;
    height: 300px;
}

.star img {
 position: absolute;
 float: right;

 left: 1200px;
 bottom: 550px;

}

.globe img {

  position: absolute;
  right: 500px; 
  top: -100px;
  width: 55px;
}

.hero-container-right {

    position: absolute;
    left: 650px;
    bottom: 120px;

}

.hero-heading {

    align-items: center;
    /* justify-content: center; */
    font-size: 370%;
    font-weight: 700;
    margin-right: 30px;
    margin-top: 800px;
    font-family: 'orbitron';
}

.hero-description {
position: relative;
    text-align: center;
    padding: 10px;
    font-size: 17px;
    bottom: 90px ;
    margin-top: 150px;
}
   
.button-email {

    border-radius: 5px;
    padding: 2px 40px;
    font-family: 'orbitron';
    font-size: 15px;
    position: absolute;
    margin-top: -35px;
    margin-left: 250px;

}

.button-join {

    background-color: black;
    color: white;
    font-family: 'orbitron';
    border-radius: 5px;
    position: absolute;
    margin-top: -35px;
    margin-left: 470px;
    padding: 2px 15px;
    font-size: 15px;
}

.contact-heading {
  font-family: 'poppins'; 
  font-weight: 300;
  text-align: center;
  position: relative;
  top:20px;
  font-size: 15x;
  left: 15px;


}
.icons {

display: flex;
justify-content: center;
align-items: baseline;
position: relative;
top: 30px;
height: 30px;
}



.icons img {
    display: flex;
justify-content: space-between;
/* justify-content: center; */
    padding-left: 30px;
    width: 35px;

}

.square  {

    position: absolute;
    top: 143px;
    left: 300px;
    z-index: -1;
}

.square img {

    width: 300px;
}